body {
    background: rgb(0, 0, 0);
    color: white;
    font-family: Helvetica neue, Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

h1 {
    margin-left: 5%;
}

header {
    background: black;

}

p {
    width: 40%;
    padding-left: 2%;
    padding-right: 2%;
}

.intro {
    font-size: xxx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    text-align: center;
    color: rgb(65, 203, 245);
    background: rgb(0, 0, 0);
    border: 5px;
    border-color: aliceblue;
}

.aboutme {
    text-align: center;
    color: black;
    font-size: 35;
}

section {
    background: white;
    color: grey;
    padding: 20px;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: rgb(211, 27, 27);
}

footer {
    background: black;
    padding: 10px 20px;
}

div {
    margin: auto;
    width: 40%;
    border-style: solid;
    border-color: rgb(211, 27, 27);
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

li {
    display: inline-block;
    padding: 0 5px 0 5px;
    font-weight: 750;
}

nav {
    background: rgb(223, 220, 220);
    text-align: center;
    max-width: fit-content;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    border-color: rgb(255, 255, 255);
    border-radius: 15px;

}

button {
    text-decoration: none;
}

a {
    color: black;
    transition: 0.3s;
}

a:hover {
    transition: .3s;
    color: rgb(168, 47, 255);
}

a:link,
a:visited {
    text-decoration: none;
}