body {
    background: rgb(0, 0, 0);
    color: white;
    font-family: Helvetica neue, Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: black;
    text-align: left;
}

.navbar {
    display: flex;
    justify-content: center;
}

nav {
    background: rgb(223, 220, 220);
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    border-color: rgb(255, 255, 255);
    border-radius: 10px;

}

nav a {
    color: black;
    transition: 0.2s;
    font-size: large;
}

nav a:hover {
    transition: 0.2s;
    color: rgb(65, 203, 245);
    background: black;
    padding: 10px;
    border-radius: 10px;
}

a:link,
a:visited {
    text-decoration: none;
}

header {
    background: black;
    height: 75px;
}

p {
    min-width: 550px;
    max-width: 50%;
    padding-left: 2%;
    padding-right: 2%;
}

#intro {
    font-size: 45;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    text-align: center;
    color: rgb(65, 203, 245);
    background: rgb(0, 0, 0);
    border: 5px;
    border-color: aliceblue;
}

#aboutme {
    text-align: center;
    color: black;
    font-size: 35;
}

#projects {
    display: flex;
    flex-direction: column;
    text-align: center;
}

section {
    background: white;
    color: grey;
    padding: 20px;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: rgb(211, 27, 27);
}

footer {
    background: grey;
    padding: 10px 20px;
    display: flexbox;
    flex-direction: row;
}

footer img {
    display: inline-flex;
}

div {
    margin: auto;
    width: 40%;
    border-style: solid;
    border-color: rgb(211, 27, 27);
}

ul {
    margin: 0px;
    padding-left: 35%;
    padding-right: 35%;
    list-style-type: none;
    align-items: center;

}

li {
    display: inline-block;
    padding: 0 10px 0 10px;
    font-weight: 750;
}


button {
    text-decoration: none;
}