body {
    background: rgb(75, 74, 74);
    color: white;
    font-family: Raleway, Helvetica neue, Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    background: black;
    padding: 20px;
}

section {
    background: white;
    color: grey;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

footer {
    background: black;
    padding: 10px 20px;
}

div {
    background: red;
    margin: auto;
    width: 100px
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

li {
    display: inline-block;
    padding: 0 5px 0 5px;
}

nav {
    background: rgb(223, 220, 220);
    text-align: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    border-color: rgb(255, 255, 255);
    border-radius: 15px;

}

button {
    text-decoration: none;
}

a {
    color: black;
    transition: 0.3s;
}

a:hover {
    transition: .3s;
    color: rgb(168, 47, 255);
}

a:link,
a:visited {
    text-decoration: none;
}